*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
header{
    background-color: #FFFFFF;
   
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;

}
input{
    padding: 10px 20px;
    outline: none;
    color: #5A5959;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #CBEBE6;
}

.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #363636;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}
nav .icons{
    display: none;
}

.container{
    background-color: #ecfffb;
}
.head{
    background-color: #b4f1f1;
    color: #363636;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.head h1{
    font-size: 45px;
    font-weight: 500;
    padding:1rem 0;
}

.head p{
    font-size: 20px;
    width: 70%;
    padding-bottom: 1.2rem;
}

h2{
    color: #363636;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
}
h4{
    width: 200px;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #363636;
    padding: 3rem
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    background-color: #39C0B1;
    color: white;
    height: 40px;
    padding: 30px;
    padding:auto;
}

.copyright, .socialicons{
    display: flex;
    justify-content: space-between; 
}

i{
    padding-left: 0.5rem;
}

